p1{
   font-size: 25px;
   text-decoration: underline;
  text-shadow: 1px 1px 2px black;
}

ph{
  font-size: 20px;
  color : red;
  text-shadow: 1px 1px 2px black;
}

pm{
  font-size: 20px;
  color : DodgerBlue;
  text-shadow: 1px 1px 2px black;
}
pl{
  font-size: 20px;
  color : white;
  text-shadow: 1px 1px 2px black;
}

pa{
  font-size: 30px;
  font-weight: bold;
  text-shadow: 1px 1px 2px black;
}

pde{
  font-size :  20px;
  text-shadow: 1px 1px 2px black;
}

img{
  display:flex;
  flex-wrap:nowrap; 
    width : 100px;
    height : 100px;
}

.action{
  border: 1px solid white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: rgba(30, 30, 50, 0.8);
  height : 100px;
  width : 400px;
}

.describe{
  border: 1px solid white;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: rgba(30, 30, 50, 0.8);
  height: 60%;
  width: 30%;
}

.Level{
  border: 1px solid white;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: rgba(30, 30, 50, 0.8);
  height: 50px;
  width: 50%;
}

.Mana{
  border: 1px solid white;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: rgba(30, 30, 50, 0.8);
  height: 50px;
  width: 50%;
}

.health{
  border: 1px solid white;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: rgba(30, 30, 50, 0.8);
  height: 50;
  width: 50%;
}

.name {
  border: 1px solid white;
  display: flex;
  justify-content: space-around;
  background-color: rgba(30, 30, 50, 0.8);
  height: 50;
  width: 50%;
  }

#background{
    background-repeat:no-repeat;
}
.monstre{
  display: flex;
  justify-content: space-around;
}

.titre {
  border: 1px solid white;
  display: flex;
  justify-content: space-around;
  background-color: rgba(30, 30, 50, 0.8);
  height:50px;
  width: 15%;
  }
 
  .infobulle{
  display: flex;
 justify-content:space-around;
  padding-top:8px;
  }

  #infobulleMonstre1{
     border: 1px solid white;
  display: flex;
 align-items: center;
 flex-direction: column;
  justify-content: space-around;
  background-color: rgba(30, 30, 50, 0.8);
  width: fit-content;
  padding: 5px;
   visibility: hidden;
  }
    #infobulleMonstre2{
     border: 1px solid white;
  display: flex;
 align-items: center;
 flex-direction: column;
  justify-content: space-around;
  background-color: rgba(30, 30, 50, 0.8);
  width: fit-content;
  padding: 5px;
  visibility: hidden;
  }
    #infobulleMonstre3{
     border: 1px solid white;
  display: flex;
 align-items: center;
 flex-direction: column;
  justify-content: space-around;
  background-color: rgba(30, 30, 50, 0.8);
  width: fit-content;
  padding: 5px;
   visibility: hidden;
  }
#attaque:hover{
  cursor: pointer;
  color:blue; 
}
body{
  background-repeat:no-repeat;
  background-size: 100% 100%;
  color: white;
}